.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
  background: hsl(0, 0%, 95%);
  width: 100%;
}

.cardSection {
}

.list {
  margin: 0;
  width: 100%;
}

.listItem {
  display: flex;
  justify-content: space-between;
}

.title {
  color: black;
  height: 2.9rem;
}
