.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70rem;
  width: 100%;
  padding: 1rem 2rem 2rem;
}

.datepickerWrapper {
  display: flex;
  border: solid black 1px;
  border-radius: 2rem;
  overflow: hidden;
  padding: 1rem;
}

.datepicker {
  padding: 0;
  width: 6rem;
  outline: 0;
  border: none;
}

.cards {
  display: flex;
  width: 100%;
  padding: 1rem 0 2rem 0;
  flex-wrap: wrap;
  justify-content: left;
}

.cardsVertical {
  display: flex;
  width: 25%;
  padding-top: 2rem;
  flex-direction: column;
  justify-content: center;
}

.cardSmall {
  width: 23%;
  margin: 1%;
}

.cardMedium {
  width: 48%;
  margin: 1%;
}

.cardBroad {
  width: 98%;
  margin: 1%;
}

.starburstContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
