.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  max-width: 45rem;
  width: 100%;
  padding: 2rem 2rem 2rem;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
  display: flex;
}

.button {
  margin: 0 1rem 0 1rem;
  padding: 2rem 2rem 0;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
  outline: 0;
  transition: all 0.5s ease;
  cursor: pointer;
  background-image: radial-gradient(circle at 40px 40px, #c3dbee 0%, #fff 20%);
  font-size: 0.8rem;
}

.button:hover {
  background-image: radial-gradient(circle at 40px 40px, #c3dbee 0%, #fff 25%);
  text-decoration: underline;
}

.buttonBlue {
  background-color: rgb(64, 139, 232);
}

.buttonGrey {
  background-color: grey;
}

.buttonOrange {
  background-color: orange;
}

.statusBar {
  border-radius: 2rem;
  padding: 1rem;
}

.datepickerWrapper {
  display: flex;
  border: solid black 1px;
  border-radius: 2rem;
  overflow: hidden;
  padding: 1rem;
}

.datepicker {
  padding: 0rem;
  width: 6rem;
  outline: 0;
  border: none;
}

.cards {
  border-bottom: 1px solid #07316b;
  width: 100%;
}

.card {
  margin: 1rem 0;
  padding: 2rem;
  background: lightgrey;
  border-radius: 2rem;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2rem 0;
}

.cardHeading {
  background: grey;
  padding: 1rem 1rem;
  margin-bottom: 0;
  border-radius: 2rem;
}

.cardHeadingText {
  margin: 0;
}

.cardBody {
  display: flex;
  justify-content: space-between;
}

.cardText {
  padding: 0 0 1rem;
  margin: 0;
}

.cardText:last-of-type {
  padding: 0 0 0;
}
