.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 45rem;
  width: 100%;
  padding: 2rem 2rem 0;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  outline: 0;
  margin: 0;
  padding: 1rem;
  border-radius: 2rem;
  background-color: rgb(220,92, 89);
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.buttonBlue {
  background-color: rgb(64,139, 232);
}

.statusBar {
  padding: 1rem;
  border-radius: 2rem;
}

.datepickerWrapper {
  display: flex;
  border: solid black 1px;
  border-radius: 2rem;
  overflow: hidden;
}

.datepicker {
  padding: 0.5rem;
  width: 7rem;
  outline: 0;
  border: none;
}

.card {
  margin: 1rem 0;
  padding: 2rem;
  background: lightgrey;
  border-radius: 2rem;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  margin: 0 0 2rem 0;
}

.cardHeading  {
  background: grey;
  padding: 1rem 1rem;
  margin-bottom: 0;
  border-radius: 2rem;
}

.cardBody {
  display: flex;
  justify-content: space-between;
}

.cardText {
  padding: 0rem 0rem 1rem;
  margin: 0;
}

.cardText:last-of-type {
  padding: 0rem 0 0;
}
