.container {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 45rem;
  width: 100%;
  padding: 2rem 2rem 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerText {
  text-decoration: unset;
}

.logo {
  width: 20rem;
}

.navigationContainer {
  padding: 0 0 1rem 0;
  border-bottom: 1px solid hsl(0, 0%, 50%);
}

.navigation {
  margin: 0;
  list-style: none;
  display: flex;
  width: 100%;
}

.navigationItem {
  display: block;
  flex: 1 1 auto;
  padding: 0 2rem;
  border-right: 1px solid hsl(0, 0%, 50%);
  margin: 0;
  text-align: center;
}

.navigationItem:last-of-type {
  border-right: none;
}
