.crumbs {
  padding: 1rem 1rem 0 1rem;
  display: flex;
}

.crumb {
  display: flex;
  height: 2rem;
  margin-left: -1.8rem;
}

/* .rightArrow {
  content: '';
  font-size: 0px;
  line-height: 0%;
  width: 0px;
  border-top: 1rem solid white;
  border-left: 1rem solid #77c;
  border-bottom: 1rem solid white;
} */

.leftArrow {
  border-bottom: 2rem solid red;
  border-left: 2rem solid rgba(255, 255, 255, 0);
}

.rightArrow {
  border-top: 2rem solid red;
  border-right: 2rem solid rgba(255, 255, 255, 1);
}

.crumbContent {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0rem;
}
