@import url('https://fonts.googleapis.com/css?family=Armata');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Armata', sans-serif;
  color: hsl(0, 0%, 50%);
}

p,
li,
q,
button {
  font-family: 'Armata', sans-serif;
  color: hsl(0, 0%, 50%);
}
